@import url('http://fonts.googleapis.com/css?family=Roboto:400,100');
@import '../lib/components-font-awesome/scss/font-awesome.scss';

$green-color: #2ecc71;
$main-font: 'Roboto';

html, body, .main-content {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

.content {
  display: block;
  height: 100%;
  padding-top: 64px;
}
