<div class="menu">
    <md-sidenav md-component-id="left" class="md-sidenav-left">
        <md-toolbar class="md-default-theme" layout="row">
            <h1 class="md-toolbar-tools">Menü</h1>
            <h1 class="md-toolbar-tools" layout="row" layout-align="end center">
                <i class="fa fa-close" ng-click="menu.close()"></i>
            </h1>
        </md-toolbar>
        <md-content class="md-padding">
            <div layout="column">
                <a ng-repeat="item in ::menu.items" class="md-button md-default-theme" ui-sref="{{ item.sref }}">
                    {{ item.caption }}
                </a>
            </div>
        </md-content>
    </md-sidenav>
</div>
