<md-dialog class="login-dialog">
    <md-content>
        Bejelentkezés
        <form name="loginForm" novalidate>
            <md-input-container>
                <label for="">Felhasználónév</label>
                <input type="text" name="username" ng-model="dialog.username" required>
                <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$dirty">
                    <div ng-message="required">Kötelező megadni!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label for="">Jelszó</label>
                <input type="password" name="password" ng-model="dialog.password" required>
                <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty">
                    <div ng-message="required">Kötelező megadni!</div>
                </div>
            </md-input-container>
        </form>
    </md-content>
    <div class="md-actions">
        <md-button class="md-primary" ng-click="dialog.loginDialog()" ng-disabled="loginForm.$invalid">OK</md-button>
        <md-button ng-click="dialog.closeDialog()">Mégse</md-button>
    </div>
</md-dialog>
