<md-dialog class="login">
    <md-content>
        <h3>Belépés</h3>
        <form name="loginForm" novalidate>
            <md-input-container>
                <label for="email">Email</label>
                <input id="email" type="email" name="email" ng-model="dialog.email" required>
                <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty">
                    <div ng-message="required">Kötelező megadni!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label for="password">Jelszó</label>
                <input id="password" type="password" name="password" ng-model="dialog.password" minlength="8" required>
                <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty">
                    <div ng-message="required">Kötelező megadni!</div>
                    <div ng-message="minlength">Túl rövid!</div>
                </div>
            </md-input-container>
        </form>
        <div class="error-container">
            <span class="error" ng-show="dialog.error">Helytelen felhasználónév vagy jelszó.</span>
        </div>
    </md-content>
    <div class="md-actions">
        <md-button class="md-primary" ng-click="dialog.login()" ng-disabled="loginForm.$invalid">OK</md-button>
        <md-button ng-click="dialog.closeDialog()">Mégse</md-button>
    </div>
</md-dialog>
