<div class="list">
    <div layout="row" layout-wrap>
        <div ng-repeat="pot in user.pots track by pot.id" flex="50" layout-padding>
            <md-card class="pot">
                <div class="image" ng-style="{'background-image':'url({{user.S3.url + pot.id + '.jpg'}})'}"></div>
                <div class="text">
                    <h2>{{pot.name}}</h2>
                    <p>
                        {{pot.description}} - {{pot.address}}
                    </p>
                </div>
                <md-button class="delete-button" ng-click="user.deletePot(pot.id, $event)">
                    <i class="fa fa-times"></i>
                </md-button>
            </md-card>
        </div>
    </div>
    <md-button class="md-fab" aria-label="Add new" ng-click="user.goToNewpot()" ng-show="user.myUser">
        <i class="fa fa-plus"></i>
    </md-button>
</div>
