.user {
    height: 100%;

    .row {
        height: 100%;
    }

    .md-fab {
        position: fixed;
        bottom: 30px;
        right: 50px;
    }

    .info {
        width: 100%;
        height: 100%;
        background-color: #808dd3;
        text-align: center;
        padding-top: 50px;

        .img-container {
            width: 100%;
            padding-left: 20%;
            padding-right: 20%;
        }

        .circle {
            border-radius: 50%;
            background-clip: padding-box;
        }

        .responsive-image {
            max-width: 100%;
            height: auto;
        }

        .firstName {
            color: #ffffff;
            font-weight: 100;
            font-size: 3em;
            margin-bottom: 0;
        }

        .lastName {
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 1em;
            margin-top: 0;
        }
    }

    .subview {
        overflow-y: scroll;

        h1 {
            font-size: 3rem;
            font-weight: 100;
            text-align: center;
        }
    }

    .form {
        padding-left: 50px;
        padding-right: 50px;

        .md-actions {
            text-align: center;
        }
    }

    .list {
        .pot {
            padding-left: 50px;
        }
    }
}
