.user .reservations {
    .md-button {
        width: 20px;
        height: 20px;
        min-height: 20px;
        line-height: 20px;
        padding: 0;
        margin-top: 10px;
    }

    .rate {
        margin-right: 10px;
        button {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
